.project-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: Arial, sans-serif;
}

.project-card {
  width: 85%;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.project-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.project-table th {
  background: #4f46e5;
  color: white;
  padding: 12px;
  text-align: left;
}

.project-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.project-table tr:hover {
  background-color: #f5f5ff;
}

/* No data row */
.no-data {
  text-align: center;
  padding: 15px;
  color: #888;
  font-weight: bold;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #dc2626;
}


.page-header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-btn {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.back-btn:hover {
  background: #3730a3;
  transform: translateY(-2px);
}

.update-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
}

.update-btn:hover {
  background: #1d4ed8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal-content {
  width: 420px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.3);
}

.modal-content h3 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-content .form-group {
  margin-bottom: 15px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.save-btn {
  flex: 1;
  background: #10b981;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-btn {
  flex: 1;
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}


.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.error {
  color: #dc2626;
  font-size: 12px;
  font-weight: 500;
}

.save-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}